@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard900";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

.container {
  font-family: "Pretendard";
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 50px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.goldBat {
  color: gold;
  font-size: 80px;
}

.container .referDate {
  color: rgb(164, 164, 164);
}

.textSection {
  width: 35%;
  line-height: 1.2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartSection {
  width: 65%;
}

.weight {
  color: black;
  font-family: "Pretendard900";
  font-size: 55px;
}

.price {
  color: black;
  font-size: 80px;
}

.countUpText {
  font-size: 90px;
}
