.container {
  cursor: pointer;
  position: relative;
  background-color: gold;
}

.arrow {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);

  animation: bounceDown 1.5s infinite;
}

@keyframes bounceDown {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
