.nav {
  position: sticky;
  top: 10px;

  display: flex;
  gap: 20px;
  padding: 12px 24px;

  border-radius: 999px; /* 👈 완전 둥글게 */
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1); /* 👈 반투명 */
  backdrop-filter: blur(10px); /* 👈 핵심 (유리 효과) */

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: white;
}

.nav {
  color: white;
}

.black {
  color: black;
}
