.container {
  height: 1000px;
  display: flex;
  width: 100%;
  font-family: "Pretendard";
}

.content {
  width: 100%;
  display: flex;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 200px;
  gap: 10px;
}

.title {
  font-size: 80px;
}

.map {
  width: 90%;
  height: auto;
}
