.container {
  color: white;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  background-color: black;
}

.content3 {
  width: 100%;
  background-color: white;
}
