.nav {
  /* position: fixed;
  bottom: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60px;
  background-color: white;
  border-top: 1px solid #ddd;

  z-index: 100;
  left: 50%;
  transform: translateX(-50%); */

  /* position: sticky;
  top: 0;
  background: white;
  z-index: 1000; */
}

/* 스크롤 후 상태 */
/* .fixed {
  position: fixed;
  top: 20px;
  bottom: auto;

  z-index: 9999;
} */
